* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    text-align: center;
    padding: 20px;
}

header img {
    width: 500px;
}

.containerCards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.cardHero {
    background-color: #282828;
    margin: 30px;
    color: white;
    border-radius: 20px;
    padding: 20px;
}

.cardHero img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.btnLikes {
    background-color: transparent;
    border: none;
}
